---
- name: Display detected OS
  debug:
    msg: "OS détecté: {{ ansible_facts['distribution'] }}"
  tags: [always]

- name: Set Debian/Ubuntu variables
  set_fact:
    packages_docker:
      - docker.io
      - python3-docker
    packages_apache:
      - apache2
      - libapache2-mod-php
      - php
      - php-mysqli
    apache_service: "apache2"
    apache_config_path: "/etc/apache2/sites-available"
    app_user: "www-data"
    apache_log_dir: "${APACHE_LOG_DIR}"
    package_manager: "apt"
  when: ansible_facts['distribution'] in ["Debian", "Ubuntu"]
  tags: [always]

- name: Set Fedora/RedHat variables
  set_fact:
    packages_docker:
      - docker
      - python3-docker
    packages_apache:
      - httpd
      - php
      - php-mysqlnd
    apache_service: "httpd"
    apache_config_path: "/etc/httpd/conf.d"
    app_user: "apache"
    apache_log_dir: "/var/log/httpd"
    package_manager: "dnf"
  when: ansible_facts['distribution'] in ["Fedora", "RedHat", "CentOS"]
  tags: [always]

- name: Fail if OS not supported
  fail:
    msg: "OS non supporté! Utilisez Debian, Ubuntu, Fedora, RedHat ou CentOS."
  when: package_manager is not defined
  tags: [always]
